<!doctype html>
<html>
<head>

  <title>Ratings</title>
<!--    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/> -->
</head>

<body>
  Ratings
  <hr>

  {% block content %} put your content here {% endblock %}


  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div>{{ message }}</div>
      {% endfor %}
  {% endwith %}


</body>
</html>